@page
@model WebClient.Pages.guest.LoginModel;
@{
}
<div class="card w-25 login-form">
    <div class="card-body p-3">
        <form method="post">
            <div class="text-danger">
                @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
            <div class="form-group m-3">
                <input required asp-for="Username" class="form-control" placeholder="UserName" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <input required asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group m-3 d-flex justify-content-between">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="remember">
                    <label class="form-check-label fs-7" for="remember">Remember me?</label>
                </div>

                <a class="text-decoration-none fs-7 mt-1" href="#"></a>
            </div>
            <div class="form-group m-3 d-flex justify-content-center">
                <input type="submit" value="Login" class="btn btn-login w-100" />
            </div>
        </form>
    </div>
</div>
<style>
    .login-form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .bg{
        background-image: url(https://scontent.fhan4-3.fna.fbcdn.net/v/t39.30808-6/382226814_7441896912506512_1598362730259548959_n.png?_nc_cat=110&ccb=1-7&_nc_sid=86c6b0&_nc_ohc=zs9ENkF_2z0Q7kNvgFn7Mbw&_nc_zt=23&_nc_ht=scontent.fhan4-3.fna&_nc_gid=AhwH97T-ffM-8ESZNspudAM&oh=00_AYAEAhb1_2ukykNxdnIYdjQ4eW-Uw-EIIQMfdRVZ4cr9Hg&oe=672FDD26);
        height: 85vh;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    body{
        padding: 0;
    }
    .form-control, .btn{
        border-radius: 20px;
    }
    .form-control {
        padding: 12px 24px;
        
    }
    .fs-7{
        font-size: 0.8vw;
    }

    .btn-login{
        background-color: #EF8D01;
        color: white;
    }
</style>
