@page
@model WebClient.Pages.SeverErrorModel
@{
}
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">500 Internal Server Error</h2>


<body>
    <h1 class='mt-5' style='text-align: center; vertical-align: middle; color: red; user-select: none;'>
        <pre>
            @Model.AsciiArt
            </pre>
    </h1>
</body>
